global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "weather-app"
    static_configs:
      - targets: ["weather-app:8000"]

  - job_name: "weather-app-blackbox"
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - "http://weather-app:8000/health"
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "blackbox-exporter:9115"
