version: "3.9"

services:
  weather-app:
    build: .
    container_name: weather-app
    ports:
      - "8000:8000"
    environment:
      LAT: "59.94"
      LON: "30.32"
    restart: unless-stopped

  blackbox-exporter:
    image: prom/blackbox-exporter:latest
    container_name: blackbox-exporter
    ports:
      - "9115:9115"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prom/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - weather-app
      - blackbox-exporter
    restart: unless-stopped
